:local(.styles) {
    container: {
        display: 'flex';
        flexwrap: 'wrap';
    }
    textfield: {
        marginleft: 10px;
        marginright: 10px;
    }
    dense: {
        margintop: 5px;
    }
    menu: {
        width: 200;
    }
    .root {
        width: '100%';
        overflow-x: 'auto';
    }

    .table {
        overflow-x: 'auto';
        width: '100%';
    }
}
