:local(.styles) {
    container: {
        display: 'flex';
        flexWrap: 'wrap';
    }
    textField: {
        marginLeft: 10px;
        marginRight: 10px;
    }
    dense: {
        marginTop: 5px;
    }
    menu: {
        width: 200;
    }
    .root {
      width: '100%';
      overflow-x: 'auto';
    }

    .table {
      overflow-x: 'auto';
      width: '100%';
    }
}

