/******* Theme *******/
$primary      : #35de98;
$secondary    : #2f9cf3;
$error        : #b00020;
$theme1       : #26a69a;
$margin       : 20px;
$radius       : 5px;

/******* Colors *******/
$darkGrey     : #2d2e31;
$darkGrey35   : #212121;
$grey35       : #414141;
$black        : black;
$black35      : #101010;
$black65      : #212121;
$white        : white;
$white35      : #d4d2d2;
$blue         : #3f51b5;
$lightBlue    : #0096ef;
$lightGrey    : #414141;
$lighterGrey  : #505050;
$green        : #4caf50;
