:local(.styles) {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;

  .dropdown {
    position: relative;
    right: 10px;
    top: 4px;
    z-index: 2;
    // float:right;
    margin-left:auto;
    margin-right:0;
  }

  .menu-icon { 
    color: #ffffff;
  }


  @media (min-width: 900px) {
    .dropdown {
      top: 10px;
      right: 20px;
    }
  }
}
