:local(.styles) {
  .bottom-navigation {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    // background: $theme1;
    text-align: center;
    z-index: 1;
  }

  .transparent {
    background: transparent
  }
}
