body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin: 0 0;
  padding: 0;
}

p {
  font-size: 16px;
}

@font-face {
  font-family: 'DJB-Digital';
  src: url('assets/fonts/DJB-Digital.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Asap-Bold';
  src: url('assets/fonts/Asap-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap-Medium';
  src: url('assets/fonts/Asap-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Asap-Regular';
  src: url('assets/fonts/Asap-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
